@import url("https://fonts.googleapis.com/css2?family=Damion&family=Dancing+Script&family=Lobster&family=Lora:ital@1&family=Neonderthaw&family=Nunito+Sans:wght@200&family=Pacifico&family=Praise&family=Quicksand:wght@300&family=Righteous&family=The+Nautigal:wght@700&display=swap");
body {
  margin: 0;
  font-family: "Dancing Script", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
